
<div class="divider"></div>
<div class="section">
    <h1>Products</h1>
</div>
</div>
      <div class="container">
        <div class="row">
          <% @products.each do |product| %>
          <div class="col s12 m4">
            <div class="card #212121 grey darken">
              <div class="card-content white-text">
                <span class="card-title"><%= product.name %></span>
                <%= product.description %>
                <%= number_to_currency(product.price_in_cents) %>
                <%= link_to 'Show', product %> <br>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>





<br>

<%= link_to 'New Product', new_product_path %>

<!-- login logic -->

<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <%= link_to('My Account', my_account_path) %>
<% else %>
  <%= link_to('Login', new_user_session_path)  %>
<% end %>
