<%= image_tag @product.image.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price_in_cents) %>
</p>

<% unless user_signed_in? && (current_user.id == @product.user_id) %>
  <%= form_tag charges_path do %>
    <%=  hidden_field_tag :price, @product.price_in_cents %> 
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<%= @product.name %>"
            data-amount="<%= (@product.price_in_cents) * 100 %>"
            data-locale="auto"></script>
  <% end %>
<% end %>

<h3>Reviews</h3>

<% @product.reviews.each do |review| %>
  <p>
    <%= review.comment %>
    <br>
    Added: <%= time_ago_in_words(review.created_at) %> ago
  </p>
<% end %>

<% if @product.reviews %>
<%= render 'reviews/form' %>
<% end %>

<% if user_signed_in? && (current_user.id == @product.user_id) %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>


<%= link_to 'Back', products_path %>
